* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

html{
    height: 100%;
}

body {
    background-image: url(naruto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main{
    padding: 3rem;
    
    display: flex;
    justify-content: center;
}

form {
    padding: 2rem;
    max-width: 800px;
    border-radius: 8px;

    background-color: rgba(255,255,255,0.7);
    text-align: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border:0;
}

.entradas {
    width: 300px;
    height: 40px;

    padding: 1.5rem;

    border:0;
    border-radius: 0.25rem;
    margin: 8px;
}

nav {
    display: flex;
    justify-content: space-between;

    padding: .25rem;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #0985f1;
}

div {
    text-align: center;
}

button[type='submit'] {
    width: 350px;
    height: 40px;

    border: 0;
    border-radius: 8px;

    cursor: pointer;

    font-weight: bold;

    transition: background-color .5s;
}

button[type='submit']:hover{
    color: #fff;
    background-color: #0985f1; 
}
