body{
   
    height:100%;
}
header{
    text-align: center;
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
}

section#left{
    
    border:2px solid #2ee;

    padding-top:400px;
    padding-bottom:400px;

    padding-right:0px;
    padding-left:0px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

figure {
    height:100%;
}

img{
    height:100px;
}

section > article:nth-child(1){
    border:2px solid #f00;
    border-radius:8px;
    box-shadow: 1px 3px 8px #f00;
    margin:8px;
}

section > article:nth-child(1)>div{
    padding:5px;
}

section > article:nth-child(2){
    border:2px solid yellow;
    border-radius:8px;
    box-shadow: 1px 3px 8px yellow;
    margin:8px;
}

section > article:nth-child(2)>div{
    padding:5px;
}

article:nth-child(3){
    border:2px solid #212729;
    width:905px;
    text-align: center;
    margin:auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding:5px;
}

footer{
    text-align: center;
    padding:5px;
    background-color:#212729;
    color:#fff;
    margin:auto;
    max-width:905px;
    margin-top:5px;

    border-top-left-radius:8px;
    border-top-right-radius:8px;
}
