@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --white: #fff;
    --blue: #2667FF;
    --red: #F21919;
    --green: #04E762;
    --black: #000;
    --blackLight: #212721;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--black);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

header ul {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem .8rem;
}

.base {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    border-radius: 6px;
    border-bottom: 10px solid var(--blackLight);
}

.base .estacas {
    height: 100px;
    padding: .25rem;
    background-color: var(--blackLight);
    border: 0;
    position: relative;
}

.peca {
    position: absolute;
    z-index: 10;
    top: 80px;
    width: 100px;
    left: -46px;
    padding: .63rem;
    background-color: var(--green);
    border-radius: 2px;
    cursor: pointer;
}

.peca1 {
    top: 40px;
    width: 25px;
    left: -8px;
    background-color: var(--blue);
}

.peca2 {
    top: 60px;
    width: 50px;
    left: -21px;
    background-color: var(--red);
}

.titleTowers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    color: var(--white);
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--white); 
}