* {
    border: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 50px auto;
}

input {
    border-bottom: 2px solid rgba(0,0,0,.2);
    padding: .25rem;
    outline: none;
    transition: .4s ease-in-out;
    width: 300px;
    font-size: 16px;
}

input:focus {
    border-color: #00A9A5;
}

button {
    padding: 1.05rem;
    border-radius: 25%;
    margin: 0 6px;
    cursor: pointer;
}

button#cadastrar {
    background-color: #329F5B;
    color: #fefefe;
}

button#exibir {
    background-color: #90C2E7;
    color: #fefefe;
}

div.table {
    margin: 30px auto;
    max-width: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr td {
    border-bottom: 2px solid rgba(0,0,0,.3);
    
}

table td {
    padding: .25rem;
}