* {
    margin:0;
    border:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid #cecece;
    background-color: #366B6B;
    color: #fff;
}

table thead td,
table tbody td {
    border: 2px solid #fff;
    padding: 1.25rem 1.75rem;

    transition: color .2s, background-color .2s;
}

table thead td:hover,
table tbody td:hover {
    background-color: #2aa6ee;
    border-color: #7a7a7a56;
}

#myBirthday, #feriado {
    background-color: #2aa;
    color: #fff;
    cursor: pointer;    
}

#myBirthday:active{   
    background: url(./img/cake.png) no-repeat;
    background-position: center;
}

#feriado:active {
    background: url(./img/carnas.png) no-repeat;
    background-position: center;
}




